@model BookStore.Models.Pagination.IndexViewModel
@using BookStore.Helpers
@{
    ViewBag.Title = "Home Page";
}
<table class="table table-hover table-bordered table-responsive">

    <thead>
        <tr>
            <th>Модель</th>
            <th>Производитель</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Phones)
        {
            <tr>
                <td>@item.Model</td>
                <td>@item.Producer</td>
            </tr>
        }
    </tbody>

</table>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>
