<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="BookContext" 
        connectionString="Server=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=Bookstore2;Persist Security Info=False;User ID=andrei_melnikau;Password=jlo]usUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors defaultRedirect="GenericError.htm" mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="Error.htm"/>
    </customErrors>
  </system.web>
</configuration>
