<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ed379cd9-d445-4e28-8fc4-f96396cbb444/resourceGroups/epam-cdp/providers/Microsoft.Web/sites/epam-cdp-web</ResourceId>
    <ResourceGroup>epam-cdp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://epam-cdp-web.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>epam-cdp-web.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>epam-cdp-web</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$epam-cdp-web</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BookContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=Bookstore2;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=Bookstore2;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BookStore.Models.BookContext, BookStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SoccerContex" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=SoccerInfo;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=SoccerInfo;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BookStore.Models.SoccerContex, BookStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StudentsContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=StudentsContext;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=StudentsContext;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BookStore.Models.StudentsContext, BookStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="StudentsContext-Web.config Connection String">
      <ParameterValue>Server=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=StudentsContext;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SoccerContex-Web.config Connection String">
      <ParameterValue>Server=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=SoccerInfo;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BookContext-Web.config Connection String">
      <ParameterValue>Server=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=Bookstore2;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="StudentsContext-Web.config Connection String">
      <ParameterValue>Server=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=StudentsContext;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SoccerContex-Web.config Connection String">
      <ParameterValue>Server=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=SoccerInfo;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BookContext-Web.config Connection String">
      <ParameterValue>Server=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=Bookstore2;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="StudentsContext-Web.config Connection String">
      <ParameterValue>Server=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=StudentsContext;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SoccerContex-Web.config Connection String">
      <ParameterValue>Server=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=SoccerInfo;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BookContext-Web.config Connection String">
      <ParameterValue>Server=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=Bookstore2;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="StudentsContext-Web.config Connection String">
      <ParameterValue>Server=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=StudentsContext;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SoccerContex-Web.config Connection String">
      <ParameterValue>Server=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=SoccerInfo;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BookContext-Web.config Connection String">
      <ParameterValue>Server=tcp:epam-cdp-db.database.windows.net,1433;Initial Catalog=Bookstore2;Persist Security Info=False;User ID=Andrei_Melnikau;Password=jlo]usUI;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>